$mobil-width-only: "(max-width: 767px)";
$tablet-width: "(min-width: 768px)";
$desktop-width:"(min-width: 1200px)";

$bg-grey: #f2f2f2;
$bg-advantage-blue: #81b3d2;
$bg-advantage-grey: #eeeeee;

